*{
    outline: 1px dotted #aaa;
}
.header{
    width: 940px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}
.header a{
    color: #3F5D45;
    display: inline-block;
    font-size: 16px;
    line-height: 40px;
    vertical-align: center;
    margin-left: 60px;
    text-decoration: none;
    font-weight: bold;
}
.header .circle{
    border-radius: 50%;
    vertical-align: middle;
}
.header img{
    border-radius: 20%;
    vertical-align: bottom;
}
.container-top{
    width: 940px;
    height: 496px;
    margin: 0 auto;
    background-image: url(https://picsum.photos/id/42/940/496);
    background-repeat: no-repeat;
    display: flex;
    /* flex-direction: row-reverse; */
}
.container-top p{
    color: #fff;
    font-size: 34px;
    font-weight: bold;
    display: inline;
    margin: 40px 0 0 40px;
}
.container-down{
    width: 940px;
    margin: 0 auto;
    display: flex;
}